<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/custom/custom-login-screen/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="~/custom/custom-login-screen/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/custom/custom-login-screen/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/custom/custom-login-screen/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/custom/custom-login-screen/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/custom/custom-login-screen/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/custom/custom-login-screen/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div id="app">
        @RenderBody()
    </div>
    <!--===============================================================================================-->
    <script src="~/custom/custom-login-screen/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/custom/custom-login-screen/vendor/bootstrap/js/popper.js"></script>
    <script src="~/custom/custom-login-screen/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/custom/custom-login-screen/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/custom/custom-login-screen/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/custom/custom-login-screen/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>