@model IEnumerable<PontoColeta>
@{
    ViewData["Title"] = "Index";
}

<h4 class="text-center text-uppercase">Lista de Pontos de Coleta</h4>

<p>
    <a asp-action="Criar" class="btn btn-sm btn-primary rounded-0 text-uppercase">
        <i class="fas fa-plus-circle"></i>Novo Ponto De Coleta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
            </tr>
        }
    </tbody>
</table>